<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="3.0">

    <!-- Configuración de Welcome File -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>RedirectToIndex</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>RedirectToIndex</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!-- Servlet para Usuarios -->
    <servlet>
        <servlet-name>ServletUsuarios</servlet-name>
        <servlet-class>com.example.filmregister.ServletUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuarios</servlet-name>
        <url-pattern>/usuarios</url-pattern> <!-- Patrón de URL para el ServletUsuarios -->
    </servlet-mapping>

    <!-- Servlet para Peliculas -->
    <servlet>
        <servlet-name>ServletPeliculas</servlet-name>
        <servlet-class>com.example.filmregister.ServletPeliculas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPeliculas</servlet-name>
        <url-pattern>/peliculas</url-pattern> <!-- Patrón de URL para el ServletPeliculas -->
    </servlet-mapping>

</web-app>

